<div class="container">
  <div class='d-flex justify-content-between align-items-center py-3'>
    <h2>My Recent Work</h2>
    <div class= 'categories index'>
      <p><%= link_to 'Home', '/' %></p>
      <p><%= link_to 'Portfolio', portfolios_path %></p>
      <p><%= link_to "Download CV", download_pdf_url %></p>
      <p><%= link_to 'About me', '#', data: { toggle: 'modal', target: '#exampleModal'} %></p>
      <%= render 'pages/modal' %>
      <p><%= link_to 'Contact', connections_path %></p>
    </div>
  </div>
  <div class="grid-portfolio">
    <% @portfolios.each do |portfolio| %>
      <div class="portfolio-card">
        <%= image_tag portfolio.thumbnail, width: 333, height: 190 %>
        <h4 class='my-2'><%= portfolio.name %></h4>
        <p class='my-1'><%= portfolio.description %></p>
        <p class='mt-4'><%= link_to 'Have a look!', portfolio.url, target: "_blank", class: 'buttons' %></p>
      </div>
    <% end %>
  </div>
</div>
