<div class="container d-flex justify-content-center flex-column" style="height: 100vh;">
  <div class="title text-center" data-controller='displayclick'>
    <h2>Welcome on Lilas Marchand's portfolio</h2>
    <p class='hint' data-displayclick-target='click'>Click to navigate <i class="fas fa-arrow-down"></i></p>
  </div>
  <div class='categories' data-controller='displayer'>
    <div class='d-flex flex-column'>
      <p class='d-none vignets' data-displayer-target='content'><%= link_to 'Portfolio', portfolios_path %></p>
      <p class='d-none vignets' data-displayer-target='content'><%= link_to 'CV PDF', download_pdf_url %></p>
    </div>
    <div  data-controller='shaker' data-action='click->displayer#tabs'>
      <%= image_tag 'PDP.jpg', height: 300, width: 290, data: { shaker_target: 'pic'} %>
    </div>
    <div class='d-flex flex-column'>
      <p class='d-none vignets' data-displayer-target='content'><%= link_to 'Contact', contacts_path %></p>
      <p class='d-none vignets' data-displayer-target='content'><%= link_to 'About me', '#', data: { toggle: 'modal', target: '#exampleModal'} %></p>
      <%= render 'pages/modal' %>
    </div>
  </div>
</div>
