<div class="container d-flex justify-content-center" style="height: 100vh;">
  <div class='categories'>
    <div class='d-flex flex-column example'>
      <p><%= link_to 'Portfolio', class: 'hover hover-1' %></p>
      <p><%= link_to 'CV', class: 'hover hover-1' %></p>
    </div>
    <%= image_tag 'PDP.jpg', height: 300, width: 290 %>
    <div class='d-flex flex-column example'>
      <p><%= link_to 'Contact', class: 'hover hover-1' %></p>
      <p><%= link_to 'About me', class: 'hover hover-1' %></p>
    </div>
  </div>
</div>
