<div class="container d-flex justify-content-center flex-column" style="height: 100vh;" data-controller='navigate-click-shake' data-navigate-click-shake-help-value='true'>
  <div class="title text-center">
    <h2>Welcome on my portfolio</h2>
    <div class='hint'>
      <p class='vignets d-none' data-navigate-click-shake-target='navigate'>Click to navigate <i class="fas fa-arrow-down"></i></p>
    </div>
  </div>
  <div class='categories'>
    <div class='d-flex flex-column picture-size text-right'>
      <p class='d-none vignets' data-navigate-click-shake-target='content'><%= link_to 'Portfolio', portfolios_path %></p>
      <p class='d-none vignets' data-navigate-click-shake-target='content'><%= link_to 'CV PDF', download_pdf_url %></p>
    </div>
    <div class='d-flex flex-column text-center' data-action='click->navigate-click-shake#tabs'>
      <%= image_tag 'PDP.jpg', height: 300, width: 290, data: { navigate_click_shake_target: 'pic'} %>
    </div>
    <div class='picture-size' class='d-flex flex-column'>
      <p class='d-none vignets' data-navigate-click-shake-target='content'><%= link_to 'Contact', connections_path %></p>
      <p class='d-none vignets' data-navigate-click-shake-target='content'><%= link_to 'About me', '#', data: { toggle: 'modal', target: '#exampleModal'} %></p>
      <%= render 'pages/modal' %>
    </div>
  </div>
  <p id='name' class='mt-4 text-center'>Lilas Marchand</p>
</div>
