<div class="container">
  <div class='d-flex justify-content-between align-items-center py-3'>
    <div class= 'categories index'>
      <p><%= link_to 'Home', '/' %></p>
      <p><%= link_to "Download CV", download_pdf_url %></p>
      <p><%= link_to 'Portfolio', portfolios_path %></p>
      <p><%= link_to 'About me', '#', data: { toggle: 'modal', target: '#exampleModal'} %></p>
      <%= render 'pages/modal' %>
    </div>
    <h2>How would you like to contact me?</h2>
  </div>
  <div class="grid text-center">
    <% @contacts.each do |contact| %>
      <%= link_to contact.url, target: "_blank" do %>
        <div class="contact-card">
          <h4 class='my-2'><%= contact.name %></h4>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
